
<head>
<link rel="stylesheet" href="css/carrosel.css">
</head>
<body>
  <section class="carrossel">
    <article class="slide active">
      <img class="img1" src="imagens/1.png" alt="Imagem 1">
    </article>
    <article class="slide">
      <img class="img2" src="imagens/2.png" alt="Imagem 2">
    </article>
    <article class="slide">
      <img class="img3" src="imagens/3.png" alt="Imagem 3">
    </article>
  <article class="slide">
    <img class="img4" src="imagens/4.png" alt="Imagem 4">
  </article>
</section>

 </body>
  <script src="js/carrosel.js"></script>
 