  <head>
    <link rel="stylesheet" href="css/footer.css">
  </head>
  
  <footer>
            <ul><img src="imagens/flor.png"></ul>
        <li id="1"><a href="#"><img src="imagens/email.webp"></a><a href=""><img src="imagens/whatsapp.png"></a><a href=""><img src="imagens/X.png"></a><a href=""><img src="imagens/facebook.png"></a><a href=""><img src="imagens/instagram.png"></li></a>
    <p>Rua das Flores - 666-777 - Vila do Abismo - SP
      <hr>
    <br>&copy; Copyright 2024 - Todos os direitos reservados por Floria
  </footer>
