  <footer>
        <li id="1"><img src="imagens/email.webp"><img src="imagens/whatsapp.png"><img src="imagens/X.png"><img src="imagens/facebook.png"><img src="imagens/instagram.png"></li>
    <p>Rua das Flores - 666-777 - Vila do Abismo - SP
      <hr>
    <br>&copy; Copyright 2024 - Todos os direitos reservados por Floria</br>
  </footer>
