<footer>
    <img src="email.webp"><img src="whatsapp.png"><img src="../../public/imagens/X.png"><img src="../../public/imagens/facebook.png"><img src="../../public/imagens/instagram.png">
    <p>Rua das Flores - 666-777 - Vila do Abismo - SP</p>
    <p>&copy; Copyright 2024 - Todos os direitos reservados por Floria</p>
</footer>