<footer>
    <li><img src=""><img src=""><img src=""><img src=""><img src=""></li>
    <p>Rua das Flores - 666-777 - Vila do Abismo - SP</p>
    <p>&copy; Copyright 2024 - Todos os direitos reservados por Floria</p>
</footer>