<header class="top-bar">
  <section class="logo">
    <a href="/"><img src="imagens/logoflor.png" alt="Logo" /></a>
  </section>

  <section class="busca">
    <input class="barra" type="text" placeholder="Buscar..." />
  </section>

  <section class="icones">
   <a href="/login"><img src="imagens/perfil.png" alt="Perfil" class="perfil" /></a> 
    <a href="/carrinho"><img src="imagens/carrinho.png" alt="Carrinho" class="carrinho" /></a>
  </section>
</header>