<header class="top-bar">
  <section class="logo">
    <a href="/"><img src="imagens/logoflor.png" /></a>
  </section>

  <section class="busca">
    <input class="barra" type="text" placeholder="Buscar..." />
  </section>

  <section class="icones">
    <a href="Login"><img src="imagens/perfil.png" class="perfil" /></a>
    <a href="Carrinho"><img src="imagens/carrinho.png" class="carrinho" /></a>
  </section>
</header>