<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  
<link rel="stylesheet" href="css/header.css">
<script src="https://kit.fontawesome.com/12a342299d.js" crossorigin="anonymous"></script>
</head>
<body>

<nav class="navbar">
  <section class="max-width">
    <section class="logo">
      <a href="/"><img src="imagens/logoflor.png" alt=""></a>
    </section>
    <ul class="menu">
      <li><a href="/maisvendidos">Mais vendidos</a></li>
      <li><a href="/Plantas">Plantas</a></li>
      <li><a href="/Vasos">Vasos</a></li>
    </ul>

    <section class="serch-icon">
      <input type="search" placeholder="Buscar">
      <label for="icon" class="icon">
        <i class="fa-solid fa-magnifying-glass"></i>
      </label>

</section>
 <section class="icones">
  <a href="/login2"><i class="fa-regular fa-user"></i></a>
  <a href="/carrinho"><i class="fa-solid fa-cart-shopping"></i></a>

    </section>
  </section>
</nav>

  
</body>
</html>
