<header class="top-bar">
  <section class="logo">
    <a href="/"><img src="imagens/logoflor.png" /></a>
  </section>

  <section class="busca">
    <input class="barra" type="text" placeholder="Buscar..." />
  </section>

  <section class="icones">
    <img src="imagens/perfil.png" alt="Perfil" class="perfil" />
    <img src="imagens/carrinho.png" alt="Carrinho" class="carrinho" />
  </section>
</header>