<link rel="stylesheet" href="css/adm.css">
<header class="top-bar">

  <section class="icones">
   <a href="/login"><img src="imagens/Design sem nome (4).png" alt="Perfil" class="perfil" /></a><a href="">Olá Administrador!</a> 
    <a href="/"><img src="imagens/Design sem nome (2).png"/></a> <a href="">Minha Página</a>
  </section>
</header>