<header class="top-bar">
  <section class="logo">
    <img src="imagens/logoflor.png" alt="Logo" />
  </section>

  <section class="busca">
    <input class="barra" type="text" placeholder="Buscar..." />
  </section>

  <section class="icones">
    <a href="/app/views/pages/login.ejs"><img src="imagens/perfil.png" alt="Perfil" class="perfil" /></a>
    <img src="imagens/carrinho.png" alt="Carrinho" class="carrinho" />
  </section>
</header>