<link rel="stylesheet" href="css/adm2.css">
<section>
  <ul class="menu1">

    <li><a href="/admin">Início</a></li>
    <li><a href="/estoque">Estoque</a></li>
    <li><a href="/Pedidos">Pedidos</a></li>
    <section class="logo">
      <a href="/"><img src="imagens/logoverde.png" alt="Logo" /></a>
    </section>
  </ul>

</section>