<link rel="stylesheet" href="css/header.css">
<nav class="nav-mobile">
  <ul>
    <li><a href="/Plantas">Plantas</a></li>
    <li><a href="/Vasos">Vasos</a></li>
    <li><a href="/maisvendidos">Mais vendidos</a></li>
  </ul>
</nav>
