<section>
    <ul>
      <li><a href="/">Início</a></li>
      <li><a href="/MVendidos">Mais Vendidos</a></li>
      <li><a href="/Plantas">Plantas</a></li>
      <li><a href="/Vasos">Vasos</a></li>
      <li><a href="/Promocoes">Promoções</a></li>
    </ul>
  </section>