<nav>
    <ul>
      <li><a href="/">Início</a></li>
      <li><a href="/sobre-api">APIs</a></li>
      <li><a href="/banco-de-dados">Banco de Dados</a></li>
      <li><a href="/autenticacao">Autenticação</a></li>
      <li><a href="/servidor">Servidor</a></li>
    </ul>
  </nav>