<section>
    <ul class="menuv">
      
      <li><a href="/">Início</a></li>
      <li><a href="/maisvendidos">Mais Vendidos</a></li>
      <li><a href="/Plantas">Plantas</a></li>
      <li><a href="/Vasos">Vasos</a></li>
    </ul>
  </section>