* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .carrossel {
    position: relative;
    padding: 0px 920px 0 941px;
    width: 200px;
    height: 250px;
    overflow: hidden;
    margin: auto;
  }
 
  .slide {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    transition: left 0.5s ease;
  }
 
  .active {
    left: 0;
  }
 
  img.img1, img.img2, img.img3, img.img4{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }  