:root {
  --dourado: #cfa93f;
  --fundo: #efefef;
  --preto: #000;
  --cinza: #505050;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--preto);
  padding: 10px 20px;
}

.logo {
  height: 50px;
}

.busca {
  max-width: 1000px;
  width: 100%;
  padding: 8px;
  border-radius: 20px;
  border: none;
  outline: none;
}

.icones img {
  height: 30px;
  margin-left: 15px;
  cursor: pointer;
}

/* Formulário */
.form-container {
  display: flex;
  justify-content: center;
    padding: 25px;
}

.formulario {
  text-align: center;
  border: #000;
  background: transparent;
  display: flex;
  flex-direction: column;
  gap: 36px;
  width: 100%;
  max-width: 400px;
}

.formulario label {
  font-size: 1rem;
  color: #000;
  border: #000;
}

.formulario input {
  padding: 12px;
  border-radius: 8px;
  border: none;
  background: white;
  font-size: 1rem;
  border: #000  ;
}

.formulario button {
  padding: 12px;
  background: var(--preto);
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  gap: 30px;  
}

.formulario .trocar {
  color: red;
  text-decoration: underline;
  font-size: 0.9rem;
  text-align: left;
}

/* Esconde */
.hidden {
  display: none;
}

.l1{
  background-color: white;
  width: 600px;
  height: 700px;
  border-radius: 12px;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.3);
  display: inline-block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  padding: 10px;
}