@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  text-decoration: none;
}


.card-image .card1 {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.card1  {
width: 35px;
height: 35px;
border-radius: 50%;
}