:root {
  --cor-fundo-pagina: #f8f9fa; /* Cor de fundo suave (cinza claro) */
  --cor-header:#white; 
  --cor-footer: #505050; /* Azul padrão (cor primária do Bootstrap) */
  --cor-navegacao: #000; /* Cinza suave para a navegação */
  --cor-botoes: #0005; /* Verde de sucesso */
  --cor-botoes-hover: #8b712b; /* Verde mais escuro para hover */
  --cor-titulo: #cfa93f; /* Cor escura para os títulos */
  --cor-texto: #cfa93f; /* Cor do texto principal */
  --cor-texto-secundario: #6c757d; /* Cor suave para texto secundário */
  --cor-hr: #8f8329;

  }
  
li{
  list-style-type: none;
}
ul{
  list-style-type: none;
}

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  margin: 0;
  padding: 0;
  background: #fff;
  
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  width: 100%;
  flex-wrap: wrap;
  gap: 0px;
  }
  
  section ul.menuv {
    list-style: none;
    height: 48px;
    padding: 10px;
    text-align: center;
    background-color: var(--cor-navegacao);
    margin: 0;
  }
  
  section ul li {
    display: inline;
    margin-right: 15px;
  }
  
  section ul li a {
    color: #cfa93f;
    text-decoration: none;
    padding: 10px 20px;
    background-color: var(--cor-botoes);
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  section ul li a:hover {
    background-color: var(--cor-botoes-hover);
  }
  
  footer {
    position: end;
    background-color: var(--cor-footer);
    color: white;
    text-align: center;
    padding: 4px;
    margin-top: 0px;
  }
  
  h1, h2 {
    color: var(--cor-titulo);
  }
  
  p {
    font-size: 1rem;
    color: var(--cor-texto-secundario);
    margin-bottom: 1rem;
  }
  
  footer p{
    color: #000;
    color: var(--cor-fundo-pagina);
  
  }

  footer br{
    font-size:10px;
    color: var(--cor-fundo-pagina);
  }
  
  li img {
    margin: 3px;
    height: 25px;
  }
  hr{
    border-color: var(--cor-hr);
  }

  ul img{
    height: 70px;
  }

  footer p{
    color: #000;
  }

  header ul{
    display: inline-block;
  }

.centralizar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cards-container, ul.c1, ul.c2  {
  display: flex;
  gap: 30px; 
  flex-wrap: wrap; 
  justify-content: center;
}

.cards-container2, ul.c3, ul.c4{
  display: flex;
  gap: 30px; 
  flex-wrap: wrap; 
  justify-content: center;
}

.card1, .card2, .card3, .card4, .card5, .card6{
  background-color: white;
  width: 180px;
  height: 260px;
  border-radius: 12px;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.3);
  display: inline-block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  padding: 10px;
}

.card7, .card8, .card9, .card10, .card11, .card12 {
  background-color: white;
  width: 180px;
  height: 260px;
  border-radius: 12px;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.3);
  display: inline-block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  padding: 10px;
}

.card1 img, .card2 img, .card3 img, .card4 img, .card5 img, .card6 img {
  width: 100px;
  height: auto;
  object-fit: contain;
}

.card7 img, .card8 img, .card9 img, .card10 img, .card11 img, .card12 img {
  width: 100px;
  height: auto;
  object-fit: contain;
}

section.cards-container, section.cards-container2{
position: inline-block;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
}

.logo img {
  height: 70px;
}

.busca {
  flex: 1;
  display: flex;
  justify-content: center;
}

.barra {
  width: 100%;
  height: 35px;
  max-width: 600px;
  padding: 8px 16px 8px 16px;
  border-radius: 20px;
  border: none;
  background-color: #000;
  color: white;
  margin-left: 130px;
  margin-top: 7px;
}

.icones {
  margin-right: 20px;
  display: flex;
  gap: 60px;
  align-items: center;
}

.icones img {
  height: 70px;
  cursor: pointer;
}

ul.c1{
  margin-top: 85px;
  margin-right: 200px;
}
ul.c2{
  margin-top: 85px;
  margin-right: 0px;
}
ul.c4{
  margin-top: 30px;
  margin-right: 0px;
}
ul.c3{
  margin-top: 30px;
  margin-right: 200px;
}
a{
  color:black
}