:root {
  --cor-fundo-pagina: #f8f9fa; /* Cor de fundo suave (cinza claro) */
  --cor-cabecalho: #000; /* Azul padrão (cor primária do Bootstrap) */
  --cor-navegacao: #000; /* Cinza suave para a navegação */
  --cor-botoes: #0005; /* Verde de sucesso */
  --cor-botoes-hover: #8b712b; /* Verde mais escuro para hover */
  --cor-titulo: #cfa93f; /* Cor escura para os títulos */
  --cor-texto: #cfa93f; /* Cor do texto principal */
  --cor-texto-secundario: #6c757d; /* Cor suave para texto secundário */
  
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  margin: 0;
  
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  header {
    background-color: var(--cor-cabecalho);
    color: white;
    text-align: center;
    padding: 1rem;  
  }
  
  nav ul {
    list-style: none;
    height: 48px;
    padding: 10px;
    text-align: center;
    background-color: var(--cor-navegacao);
    margin: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 15px;
  }
  
  nav ul li a {
    color: #cfa93f;
    text-decoration: none;
    padding: 10px 20px;
    background-color: var(--cor-botoes);
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  nav ul li a:hover {
    background-color: var(--cor-botoes-hover);
  }
  
  main {
    flex: 1;
    padding: 20px;
    background-color: white;
    margin: 20px auto;
    max-width: 900px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  footer {
    background-color: var(--cor-cabecalho);
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
  }
  
  h1, h2 {
    color: var(--cor-titulo);
  }
  
  p {
    font-size: 1rem;
    color: var(--cor-texto-secundario);
    margin-bottom: 1rem;
  }
  
  footer p{
    color: var(--cor-fundo-pagina);
  
  }
  