<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detalhes do Produto</title>
    <link rel="stylesheet" href="css/styled.css" />
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <%- include("../partials/nav") %>
        <%- include("../partials/header") %>

            <main class="container-detalhes">

                <section class="galeria">
                    <section class="miniaturas">
                        <img src="imagens/F2.png" />
                        <img src="imagens/image.png" />
                        <img src="imagens/FT3.png" />
                    </section>
                    <section class="imagem-principal">
                        <img src="imagens/image.png" />
                    </section>
                </section>

                <section class="info">
                    <h1>Vaso Decorativo Marrom</h1>
                    <p class="preco">
                        <span class="preco-antigo">R$675,00</span>
                        <span class="preco-novo">em até 12x, R$299,99</span>
                    </p>
                    <section class="avaliacao">★★★★★</section>

                        <section class="cores">
                            <p>Cor:</p>
                            <span class="cor" style="background:#4a3f35;"></span>
                            <span class="cor" style="background:#fff;"></span>
                            <span class="cor" style="background:#000;"></span>
                        </section>

                        <button class="btn-add">Adicionar ao carrinho</button>

                        <section class="frete">
                            <label for="cep">Simule seu frete:</label>
                            <input type="text" id="cep" placeholder="CEP" />
                            <button class="btn-calcular">Calcular</button>
                        </section>
                    </section>
            </main>

            <section class="descricao">
                <h2>Descrição</h2>
                <p>
                    para os admiradores do formato bola, o vaso canela é o canelado redondo com textura levemente áspera que torna o modelo atemporal. vantagens de decorar com vaso terrano ? Os modelos terrano, são leves. ? Você pode utilizá-lo em áreas internas e externas. ? Pode ser exposto ao sol e chuva. ? Resistente também a maresia e poeira. ? O polietileno é uma matéria prima de alta durabilidade e qualidade. ? O polietileno não prolifera fungos, bactérias e não libera toxinas para as raízes das plantas. ? Ajuda na manutenção do recurso hídrico, já que não suga a umidade do substrato. ? Não quebra se sofrer pequenos tombos. ? Não são pintados após produção, a cor vem do pigmento que é colocado no processo de rotomoldagem, isso garante que a cor não desbote.
                </p>
            </section>

            <section class="comentarios">
                <h3>Comentários</h3>
                <p class="sem-comentario">Sem Comentários</p>
            </section>

            <%- include("../partials/footer") %>
</body>