<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detalhes do Produto</title>
    <link rel="stylesheet" href="css/styled.css" />
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <%- include("../partials/nav") %>
        <%- include("../partials/header") %>

            <main class="container-detalhes">

                <section class="galeria">
                    <section class="miniaturas">
                        <img src="imagens/logoflor.png" />
                        <img src="imagens/Vaso.png" />
                        <img src="imagens/carrinho.png" />
                    </section>
                    <section class="imagem-principal">
                        <img src="imagens/Vaso.png" />
                    </section>
                </section>

                <section class="info">
                    <h1>Vaso Decorativo Quartier</h1>
                    <p class="preco">
                        <span class="preco-antigo">R$675,00</span>
                        <span class="preco-novo">em até 12x, R$299,99</span>
                    </p>
                    <section class="avaliacao">★★★★★</section>

                        <section class="cores">
                            <p>Cor:</p>
                            <span class="cor" style="background:#4a3f35;"></span>
                            <span class="cor" style="background:#fff;"></span>
                            <span class="cor" style="background:#000;"></span>
                        </section>

                        <button class="btn-add">Adicionar ao carrinho</button>

                        <section class="frete">
                            <label for="cep">Simule seu frete:</label>
                            <input type="text" id="cep" placeholder="CEP" />
                            <button class="btn-calcular">Calcular</button>
                        </section>
                    </section>
            </main>

            <section class="descricao">
                <h2>Descrição</h2>
                <p>
                    Vaso de porcelana branca, fabricado artesanalmente, com elegantes detalhes vazados que criam um
                    efeito visual sofisticado e único. A peça apresenta um design intrincado, que combina a delicadeza
                    da porcelana com um toque artesanal, tornando-o um elemento decorativo perfeito para ambientes que
                    valorizam a beleza e a exclusividade. Ideal para compor mesas, estantes ou aparadores,
                    este vaso é uma excelente escolha para quem busca adicionar um toque de requinte à decoração.
                </p>
            </section>

            <section class="comentarios">
                <h3>Comentários</h3>
                <p class="sem-comentario">Sem Comentários</p>
            </section>

            <%- include("../partials/footer") %>
</body>