<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Floria</title>
  <link rel="stylesheet" href="css/style.css">

</head>

<body>
  
  <%- include("../partials/nav") %>
  <%- include("../partials/header") %>
  
  <main>
    <%- include("../partials/carrosel") %>
  
    <li class="cards">      
    
    <section class="cards-container">
    <ul class="c1">

 
      <!-- Card 1 -->
      <a href="/detalhes"><section class="card1">
        <img src="imagens/Muda.png" alt="Planta" />
     <h1>Muda de Comigo Ninguém Pode</h1>
        <h2>R$211,25</h2>
        <span>Ver Mais...</span>
      </section></a>

      <!-- Card 2 -->
      <section class="card2">
        <img src="imagens/Muda.png" alt="Planta" />
        <h1>a</h1>
        <h2>b</h2>
        <span>bobgoods</span>
      </section>

       <section class="card3">
        <img src="imagens/Muda.png" alt="Planta" />
        <h1>a</h1>
        <h2>b</h2>
        <span>bobgoods</span>
      </section>
      </ul>
      

      <ul class="c2">
      
                
       <section class="card4">
        <img src="imagens/Muda.png" alt="Planta" />
        <h1>a</h1>
        <h2>b</h2>
        <span>bobgoods</span>
      </section>
       <section class="card5">
        <img src="imagens/Muda.png" alt="Planta" />
        <h1>a</h1>
        <h2>b</h2>
        <span>bobgoods</span>
      </section>
       <section class="card6">
        <img src="imagens/Muda.png" alt="Planta" />
        <h1>a</h1>
        <h2>b</h2>
        <span>bobgoods</span>
      </section>
      </ul>

    </section>

    <section class="cards-container2">
      
      <ul class="c3">
       <a href="/DetalhesV"><section class="card7">
        <img src="imagens/Vaso.png" alt="Planta" />
        <h1>Vaso Decorativo Quartier</h1>
        <h2>R$299,99</h2>
        <span>Ver Mais... </span>
      </section></a>
       <section class="card8">
        <img src="imagens/Vaso.png" alt="Planta" />
        <h1>a</h1>
        <h2>b</h2>
        <span>bobgoods</span>
      </section>
       <section class="card9">
        <img src="imagens/Vaso.png" alt="Planta" />
        <h1>a</h1>
        <h2>b</h2>
        <span>bobgoods</span>
      </section>
      </ul>

      <ul class="c4">
       <section class="card10">
        <img src="imagens/Vaso.png" alt="Planta" />
        <h1>a</h1>
        <h2>b</h2>
        <span>bobgoods</span>
      </section>
       <section class="card11">
        <img src="imagens/Vaso.png" alt="Planta" />
        <h1>a</h1>
        <h2>b</h2>
        <span>bobgoods</span>
      </section>
       <section class="card12">
        <img src="imagens/Vaso.png" alt="Planta" />
        <h1>a</h1>
        <h2>b</h2>
        <span>bobgoods</span>
      </section>
      </ul>
      </section>
    </li>

  </main>

  <%- include("../partials/footer") %>
</body>

</html>