<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Floria</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/Rp.css">


</head>

<body>

  <%- include("../partials/nav") %>
    <%- include("../partials/header") %>

      <main>
        <%- include("../partials/carrosel") %>

          <li>
            <section class="cards-container">

              <!-- Card 1 -->
              <a href="Detalhes">
                <section class="card">
                  <img src="imagens/Muda.png" />
                  <h1>Muda de Comigo Ninguém Pode</h1>
                  <h2>R$32</h2>
                  <span>12xR$3,18</span>
                </section>
              </a>

              <!-- Card 2 -->
              <section class="card">
                <img src="imagens/Muda.png" alt="Planta" />
                <h1>a</h1>
                <h2>b</h2>
                <span>bobgoods</span>
              </section>

              <section class="card">
                <img src="imagens/Muda.png" alt="Planta" />
                <h1>a</h1>
                <h2>b</h2>
                <span>bobgoods</span>
              </section>

              <section class="card">
                <img src="imagens/Muda.png" alt="Planta" />
                <h1>a</h1>
                <h2>b</h2>
                <span>bobgoods</span>
              </section>

              <section class="card">
                <img src="imagens/Muda.png" alt="Planta" />
                <h1>a</h1>
                <h2>b</h2>
                <span>bobgoods</span>
              </section>


              <section class="card">
                <img src="imagens/Muda.png" alt="Planta" />
                <h1>a</h1>
                <h2>b</h2>
                <span>bobgoods</span>
              </section>
              <!-- Card 3, 4, 5... (só repetir se quiser mais) -->

            </section>
          </li>

      </main>

      <%- include("../partials/footer") %>
</body>

</html>