<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Floria</title>
  <link rel="stylesheet" href="css/style.css">

</head>

<body>

  <%- include("../partials/nav") %>
    <%- include("../partials/header") %>

      <main>
        <%- include("../partials/carrosel") %>

          <!-- Divisória Plantas -->
          <section class="divisoriaplantas">
          <h2 class="t">Plantas</h2>
            <hr>

          <li class="cards">

            <section class="cards-container">
              <ul class="c1">


                <!-- Card 1 -->
                <a href="/detalhes">
                  <section class="card1">
                    <img src="imagens/Muda.png" alt="Planta" />
                    <h1>Muda de Comigo Ninguém Pode</h1>
                    <h2>R$211,25</h2>
                  </section>
                </a>


                <a href="">
                  <section class="card2">
                    <img src="imagens/Singônio.png" alt="Planta" />
                    <h1>Singônio (Syngonium)</h1>
                    <h2>R$ 45,00</h2>


                  </section>
                </a>

                <a href="">
                  <section class="card3">
                    <img src="imagens/Zamioculca.png" alt="Planta" />
                    <h1>Zamioculca (ZZ Plant)</h1>
                    <h2>R$ 60,00</h2>

                  </section>
                </a>

              </ul>

              <ul class="c2">


                <a href="">
                  <section class="card4">
                    <img src="imagens/Monstera deliciosa.png" alt="Planta" />
                    <h1>Monstera deliciosa</h1>
                    <h2>R$ 120,00</h2>
                  </section>
                </a>

                <a href="">
                  <section class="card5">
                    <img src="imagens/Sansevieria.png" alt="Planta" />
                    <h1>Espada-de-São-Jorge (Sansevieria)</h1>
                    <h2>R$ 35,00</h2>
                  </section>
                </a>

                <a href="">
                  <section class="card6">
                    <img src="imagens/Philodendron.png" alt="Planta" />
                    <h1>Jiboia (Philodendron)</h1>
                    <h2>R$ 55,00</h2>
                  </section>
                </a>
              </ul>

            </section>
 
             <!-- Divisória Vasos -->
            <section class="divisoriavasos">
            <h2 class="t">Vasos</h2>
              <hr>

            <section class="cards-container2">

              <ul class="c3">
                <a href="/DetalhesV">
                  <section class="card7">
                    <img src="imagens/image.png" alt="Planta" />
                    <h1>Vaso Decorativo Marrom</h1>
                    <h2>R$299,99</h2>
                  </section>
                </a>

                <a href=""><section class="card7">
                  <img src="imagens/VasoCeramicaRosa.jpg" alt="Vaso de Planta" />
                  <h1>Vaso de Cerâmica Rosa</h1>
                  <h2>R$ 65,00</h2>
                </section></a>

                <a href=""><section class="card9">
                  <img src="imagens/VasoCimentoRustico.png" alt="Vaso de Planta" />
                  <h1>Vaso de Cimento Rústico</h1>
                  <h2>R$ 50,00</h2>
                </section></a>
              </ul>

              <ul class="c4">
                <a href="">
                  <section class="card10">
                    <img src="imagens/VasoSuspensoMacrame.png" alt="Vaso de Planta" />
                    <h1>Vaso Suspenso</h1>
                    <h2>R$ 80,00</h2>
                  </section>
                </a>

                <a href="">
                  <section class="card11">
                    <img src="imagens/VasoVidroTransparente.png" alt="Vaso de Planta" />
                    <h1>Vaso de Vidro Transparente</h1>
                    <h2>R$ 45,00</h2>
                  </section>
                </a>

                <a href="">
                  <section class="card12">
                    <img src="imagens/VasoAutoirrigavel.png" alt="Vaso de Planta" />
                    <h1>Vaso Autoirrigável</h1>
                    <h2>R$ 90,00</h2>
                  </section>
                </a>
              </ul>
            </section>
          </li>

      </main>

      <%- include("../partials/footer") %>
</body>

</html>