<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Floria</title>
  <link rel="stylesheet" href="css/adm.css">

</head>

<body>

  <%- include("../partials/header-adm") %>
    <%- include("../partials/nav-adm") %>
      <main>
        <h1>Bem Vindo a área Administrativa! </h1>
        <h2 class="vendas1">Estatísticas de vendas</h2>
        <h2 class="g1">Mensal</h2>
        <img src="imagens/g1.png" class="g1">
        <nav class="container-list">
          <ul>
            <li class="c">
              <h1>Lucro</h1>
            </li>
            <li class="c">
              <h1>R$</h1>
            </li>
          </ul>
          <ul>
            <li class="b">Bruto</li>
            <li class="b">187,5mil</li>
          </ul>
          <ul>
            <li class="aa">Operacional</li>
            <li class="a">80mil</li>
          </ul>
          <ul>
            <li class="d">Líquido</li>
            <li class="d">70mill</li>
          </ul>
        </nav>
        <h2 class="g2">Anual</h2>
        <img src="imagens/g2.png" class="g2">
        <nav class="container-list2">
          <ul>
            <li class="c">
              <h1>Lucro</h1>
            </li>
            <li class="c">
              <h1>R$</h1>
            </li>
          </ul>
          <ul>
            <li class="b">Bruto</li>
            <li class="b">187,5mil</li>
          </ul>
          <ul>
            <li class="aa">Operacional</li>
            <li class="a">80mil</li>
          </ul>
          <ul>
            <li class="d">Líquido</li>
            <li class="d">70mill</li>
          </ul>
        </nav>
      </main>
</body>

</html>