<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Floria</title>
  <link rel="stylesheet" href="css/adm.css">
</head>

<body>

  <%- include("../partials/header-adm") %>
  <%- include("../partials/nav-adm") %>

  <main>
    <h1>Bem-vindo à área Administrativa!</h1>

    <section class="vendas">
      <h2 class="vendas1">Estatísticas de Vendas</h2>

      <article class="grafico">
        <h2 class="g1">Mensal</h2>
        <img src="imagens/g1.png" alt="Gráfico mensal" class="g1">

        <nav class="container-list">
          <ul>
            <li><h1>Lucro</h1></li>
            <li><h1>R$</h1></li>
          </ul>
          <ul>
            <li>Bruto</li>
            <li>187,5mil</li>
          </ul>
          <ul>
            <li>Operacional</li>
            <li>80mil</li>
          </ul>
          <ul>
            <li>Líquido</li>
            <li>70mil</li>
          </ul>
        </nav>
      </article>

      <article class="grafico">
        <h2 class="g2">Anual</h2>
        <img src="imagens/g2.png" alt="Gráfico anual" class="g2">

        <nav class="container-list2">
          <ul>
            <li><h1>Lucro</h1></li>
            <li><h1>R$</h1></li>
          </ul>
          <ul>
            <li>Bruto</li>
            <li>187,5mil</li>
          </ul>
          <ul>
            <li>Operacional</li>
            <li>80mil</li>
          </ul>
          <ul>
            <li>Líquido</li>
            <li>70mil</li>
          </ul>
        </nav>
      </article>
    </section>
  </main>

</body>
</html>
