<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login - Florlo</title>
  <link rel="stylesheet" href="/css/login2.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>

<body>
  <%- include("../partials/nav") %>
  <%- include("../partials/header") %>

  <section class="container">
    <!-- CADASTRO -->
    <section class="content first-content">
      <section class="first-column">
        <h2 class="title title-primary">Bem-vindo de volta!</h2>
        <p class="description description-primary">Para continuar conectado conosco</p>
        <p class="description description-primary">Por favor, entre com suas credenciais</p>
        <button id="signin" class="btn btn-primary">Já tenho conta</button>
      </section>

      <section class="second-column">
        <h2 class="title title-second">Criar Conta</h2>
        <section class="social-media">
          <ul class="list-social-media">
           <a href=""> <li class="item-social-media"><i class="fab fa-facebook-f"></i></li></a>
            <a href=""> <li class="item-social-media"><i class="fab fa-google-plus-g"></i></li></a> 
           <a href=""> <li class="item-social-media"><i class="fab fa-linkedin-in"></i></li></a>
           </ul>
        </section>

        <p class="description description-second">Ou use seu email para cadastro:</p>

        <form class="form" id="cadastro-form">
          <label class="label-input">
            <i class="far fa-user icon-modify"></i>
            <input type="text" name="nome" placeholder="Nome completo" required />
          </label>

          <label class="label-input">
            <i class="far fa-envelope icon-modify"></i>
            <input type="email" name="email" placeholder="Email" required />
          </label>

          <label class="label-input">
            <i class="fas fa-lock icon-modify"></i>
            <input type="password" name="senha" placeholder="Senha" required />
          </label>

          <label class="label-input">
            <i class="fas fa-lock icon-modify"></i>
            <input type="password" name="confirmar" placeholder="Confirmar senha" required />
          </label>

          <button type="submit" class="btn btn-second">Cadastrar</button>
          <div class="mensagem" id="cadastro-msg"></div>
        </form>
      </section>
    </section>

    <!-- LOGIN -->
    <section class="content second-content">
      <section class="first-column">
        <h2 class="title title-primary">Olá, amigo!</h2>
        <p class="description description-primary">Entre com suas informações pessoais</p>
        <p class="description description-primary">e comece a jornada conosco</p>
        <button id="signup" class="btn btn-primary">Criar uma conta</button>
      </section>

      <section class="second-column">
        <h2 class="title title-second">Login</h2>
        <section class="social-media">
          <ul class="list-social-media">
            <a href=""><li class="item-social-media"><i class="fab fa-facebook-f"></i></li></a>
            <a href=""><li class="item-social-media"><i class="fab fa-google-plus-g"></i></li></a>
            <a href=""><li class="item-social-media"><i class="fab fa-linkedin-in"></i></li></a>
          </ul>
        </section>

        <p class="description description-second">Ou use seu email:</p>

        <form class="form" id="login-form">
          <label class="label-input">
            <i class="far fa-envelope icon-modify"></i>
            <input type="email" name="email" placeholder="Email" required />
          </label>

          <label class="label-input">
            <i class="fas fa-lock icon-modify"></i>
            <input type="password" name="senha" placeholder="Senha" required />
          </label>

          <a class="password" href="#">Esqueceu sua senha?</a>
          <button type="submit" class="btn btn-second">Entrar</button>
          <div class="mensagem" id="login-msg"></div>
        </form>
      </section>
    </section>
  </section>

  <%- include("../partials/footer") %>

  <script src="js/login2.js"></script>

</body>