<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Floria - Mais Vendidos</title>
  <link rel="stylesheet" href="css/MV.css">
</head>
<body>
  <%- include("../partials/nav") %>
  <%- include("../partials/header") %>

  <main>
    <!--Seção de Plantas -->
    <section aria-labelledby="plantas-title">

      <!--Plantas Grandes -->
        <article class="cards-container">
          <figure class="card">
            <img src="imagens/Muda.png" alt="Comigo Ninguém Pode">
            <figcaption>
              <h4>Comigo Ninguém Pode</h4>
              <p class="price">R$ 211,25</p>
            </figcaption>
          </figure>

          <figure class="card">
            <img src="imagens/samambaia.webp" alt="Samambaia">
            <figcaption>
              <h4>Samambaia</h4>
              <p class="price">R$ 65,00</p>
            </figcaption>
          </figure>

          <figure class="card">
            <img src="imagens/alecrim.jpg" alt="Alecrim">
            <figcaption>
              <h4>Alecrim</h4>
              <p class="price">R$ 35,00</p>
            </figcaption>
          </figure>

          <figure class="card">
            <img src="imagens/baboda.jpg" alt="Babosa">
            <figcaption>
              <h4>Babosa</h4>
              <p class="price">R$ 125,00</p>
            </figcaption>
          </figure>

          <figure class="card">
            <img src="imagens/cacto.webp" alt="Cacto">
            <figcaption>
              <h4>Cacto</h4>
              <p class="price">R$ 89,99</p>
            </figcaption>
          </figure>

          <figure class="card">
            <img src="imagens/costeladeadão.webp" alt="Costela de Adão">
            <figcaption>
              <h4>Costela de Adão</h4>
              <p class="price">R$ 250,99</p>
            </figcaption>
          </figure>
        </article>
      </section>

      <!--Plantas Pequenas -->
      <section class="cards-section" aria-labelledby="plantas-pequenas">
        <article class="cards-container">
          <figure class="card">
            <img src="imagens/espadadesaojorge.webp" alt="Espada de São Jorge">
            <figcaption>
              <h4>Espada de São Jorge</h4>
              <p class="price">R$ 40,00</p>
            </figcaption>
          </figure>

          <figure class="card">
            <img src="imagens/hortelã.png" alt="Hortelã">
            <figcaption>
              <h4>Hortelã</h4>
              <p class="price">R$ 78,25</p>
            </figcaption>
          </figure>

          <figure class="card">
            <img src="imagens/jasmim.png" alt="Jasmim">
            <figcaption>
              <h4>Jasmim</h4>
              <p class="price">R$ 75,00</p>
            </figcaption>
          </figure>

          <figure class="card">
            <img src="imagens/lavanda.jpg" alt="Lavanda">
            <figcaption>
              <h4>Lavanda</h4>
              <p class="price">R$ 49,99</p>
            </figcaption>
          </figure>

          <figure class="card">
            <img src="imagens/manjericão.jpg" alt="Manjericão">
            <figcaption>
              <h4>Manjericão</h4>
              <p class="price">R$ 100,00</p>
            </figcaption>
          </figure>

          <figure class="card">
            <img src="imagens/orquídea.jpg" alt="Orquídea">
            <figcaption>
              <h4>Orquídea</h4>
              <p class="price">R$ 99,99</p>
            </figcaption>
          </figure>
        </article>
      </section>
    </section>

    <!--Seção de Vasos -->
    <section aria-labelledby="vasos-title">

      <!-- 🌺 Vasos Grandes -->
      <section class="cards-section" aria-labelledby="vasos-grandes">

        <article class="cards-container">
          <figure class="card">
            <img src="imagens/image.png" alt="Vaso Decorativo Marrom">
            <figcaption>
              <h4>Vaso Decorativo Marrom</h4>
              <p class="price">R$ 299,99</p>
            </figcaption>
          </figure>

          <figure class="card">
            <img src="imagens/VasoMadeiraBambu.png" alt="Cachepô de Madeira Bambu">
            <figcaption>
              <h4>Cachepô de Madeira Bambu</h4>
              <p class="price">R$ 70,00</p>
            </figcaption>
          </figure>

          <figure class="card">
            <img src="imagens/VasoCeramicaDecorado.png" alt="Vaso Cerâmica Decorado">
            <figcaption>
              <h4>Vaso Cerâmica Decorado</h4>
              <p class="price">R$ 75,00</p>
            </figcaption>
          </figure>


          <figure class="card">
            <img src="imagens/VasoCeramicaDecorado.png" alt="Vaso Cerâmica Decorado">
            <figcaption>
              <h4>Vaso Cerâmica Decorado</h4>
              <p class="price">R$ 75,00</p>
            </figcaption>
          </figure>


          <figure class="card">
            <img src="imagens/VasoSuspensoMetal.png" alt="Vaso Suspenso de Metal">
            <figcaption>
              <h4>Vaso Suspenso de Metal</h4>
              <p class="price">R$ 85,00</p>
            </figcaption>
          </figure>
        </article>

        
      
        <article class="cards-container">
          <figure class="card">
            <img src="imagens/VasoBarroTradicional.png" alt="Vaso de Barro Tradicional">
            <figcaption>
              <h4>Vaso de Barro Tradicional</h4>
              <p class="price">R$ 40,00</p>
            </figcaption>
          </figure>

          <figure class="card">
            <img src="imagens/VasoCeramicaMinimalista.png" alt="Vaso Minimalista">
            <figcaption>
              <h4>Vaso Minimalista</h4>
              <p class="price">R$ 60,00</p>
            </figcaption>
          </figure>

          <figure class="card">
            <img src="imagens/VasoAutoirrigavelTransparente.png" alt="Vaso Autoirrigável">
            <figcaption>
              <h4>Vaso Autoirrigável</h4>
              <p class="price">R$ 95,00</p>
            </figcaption>
          </figure>

          <figure class="card">
            <img src="imagens/VasoFibraNatural.png" alt="Cachepô de Fibra Natural">
            <figcaption>
              <h4>Cachepô de Fibra Natural</h4>
              <p class="price">R$ 55,00</p>
            </figcaption>
          </figure>

          <figure class="card">
            <img src="imagens/VasoConcretoGeom.png" alt="Vaso Concreto Geométrico">
            <figcaption>
              <h4>Vaso Concreto Geométrico</h4>
              <p class="price">R$ 68,00</p>
            </figcaption>
          </figure>

          <figure class="card">
            <img src="imagens/VasoMetalCobre.png" alt="Vaso Metal Cobre">
            <figcaption>
              <h4>Vaso Metal Cobre</h4>
              <p class="price">R$ 88,00</p>
            </figcaption>
          </figure>

          <figure class="card">
            <img src="imagens/VasoResinaColorido.png" alt="Vaso Colorido">
            <figcaption>
              <h4>Vaso Colorido</h4>
              <p class="price">R$ 52,00</p>
            </figcaption>
          </figure>

          <figure class="card">
            <img src="imagens/VasoSuspensoCeramica.png" alt="Vaso Suspenso Cerâmica">
            <figcaption>
              <h4>Vaso Suspenso Cerâmica</h4>
              <p class="price">R$ 78,00</p>
            </figcaption>
          </section>
          </figure>
        </article>
    </section>
  </main>

  <%- include("../partials/footer") %>
</body>
</html>
