<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Floria - Mais Vendidos</title>
  <link rel="stylesheet" href="css/MV.css">
</head>
<body>
  <%- include("../partials/nav") %>
  <%- include("../partials/header") %>

  <main>
    <p class="t">Plantas</p>
    <hr>

    <!-- Divisória Plantas Grandes -->
    <section class="cards-section">
   <h2 class="t">Plantas Grandes</h2>
      <section class="cards-container">
        <a href="/detalhes">
          <section class="card1">
            <img src="imagens/Muda.png" alt="Planta" />
            <h1>Comigo Ninguém Pode</h1>
            <h2>R$211,25</h2>
            <span></span>
          </section>
        </a>

        <a href="/samambaia">
          <section class="card2">
            <img src="imagens/samambaia.webp" alt="Planta" />
            <h1>Samambaia</h1>
            <h2>R$65</h2>
            <span></span>
          </section>
        </a>

        <a href="/alecrim">
          <section class="card3">
            <img src="imagens/alecrim.jpg" alt="Planta" />
            <h1>Alecrim</h1>
            <h2>R$35</h2>
            <span></span>
          </section>
        </a>

        <a href="/babosa">
          <section class="card4">
            <img src="imagens/baboda.jpg" alt="Planta" />
            <h1>Babosa</h1>
            <h2>R$125</h2>
            <span></span>
          </section>
        </a>

        <a href="/cacto">
          <section class="card5">
            <img src="imagens/cacto.webp" alt="Planta" />
            <h1>Cacto</h1>
            <h2>R$89,99</h2>
            <span></span>
          </section>
        </a>

        <a href="/costeladeadao">
          <section class="card6">
            <img src="imagens/costeladeadão.webp" alt="Planta" />
            <h1>Costela de Adão</h1>
            <h2>R$250,99</h2>
            <span></span>
          </section>
        </a>
      </section>
    </section>

    <!-- Divisória Plantas Pequenas -->
    <section class="cards-section">
      <hr>
     <h2 class="t">Plantas pequenas</h2>

      <section class="cards-container">
        <a href="/espadadesaojorge">
          <section class="card7">
            <img src="imagens/espadadesaojorge.webp" alt="Planta" />
            <h1>Espada de São Jorge</h1>
            <h2>R$40</h2>
            <span></span>
          </section>
        </a>

        <a href="/hortela">
          <section class="card8">
            <img src="imagens/hortela.jpeg" alt="Planta" />
            <h1>Hortelã</h1>
            <h2>R$78,25</h2>
            <span></span>
          </section>
        </a>

        <a href="/jasmim">
          <section class="card9">
            <img src="imagens/jasmim.png" alt="Planta" />
            <h1>Jasmim</h1>
            <h2>R$75</h2>
            <span></span>
          </section>
        </a>

        <a href="/lavanda">
          <section class="card10">
            <img src="imagens/lavanda.jpg" alt="Planta" />
            <h1>Lavanda</h1>
            <h2>R$49,99</h2>
            <span></span>
          </section>
        </a>

        <a href="/manjericao">
          <section class="card11">
            <img src="imagens/manjericão.jpg" alt="Planta" />
            <h1>Manjericão</h1>
            <h2>R$100</h2>
            <span></span>
          </section>
        </a>

        <a href="/orquidea">
          <section class="card12">
            <img src="imagens/orquídea.jpg" alt="Planta" />
            <h1>Orquídea</h1>
            <h2>R$99,99</h2>
            <span></span>
          </section>
        </a>
      </section>
    </section>
  </main>

  <p class="V">Vasos</p>
<hr>

<!-- VASOS GRANDES -->
<section class="cards-section">
     <h2 class="t">Vasos grandes</h2>
  <section class="cards-container">
    <a href="/DetalhesV">
      <section class="card1">
        <img src="imagens/image.png" alt="Planta" />
        <h1>Vaso Decorativo Marrom</h1>
        <h2>R$299,99</h2>
        <span></span>
      </section>
    </a>

    <a href="">
      <section class="card3">
        <img src="imagens/VasoMadeiraBambu.png" alt="Vaso de Planta" />
        <h1>Cachepô de Madeira Bambu</h1>
        <h2>R$70,00</h2>
        <span></span>
      </section>
    </a>

    <a href="">
      <section class="card3">
        <img src="imagens/VasoCeramicaDecorado.png" alt="Vaso de Planta" />
        <h1>Vaso Cerâmica Decorado</h1>
        <h2>R$75,00</h2>
        <span></span>
      </section>
    </a>

    <a href="">
      <section class="card4">
        <img src="imagens/VasoSuspensoMetal.png" alt="Vaso de Planta" />
        <h1>Vaso Suspenso de Metal</h1>
        <h2>R$85,00</h2>
        <span></span>
      </section>
    </a>
  </section>
</section>

<!-- VASOS PEQUENOS -->
<section class="cards-section">
  <hr>
   <h2 class="t">Vasos pequenos</h2>
  <section class="cards-container">
    <a href="">
      <section class="card5">
        <img src="imagens/VasoBarroTradicional.png" alt="Vaso de Planta" />
        <h1>Vaso de Barro Tradicional</h1>
        <h2>R$40,00</h2>
        <span></span>
      </section>
    </a>

    <a href="">
      <section class="card6">
        <img src="imagens/VasoCeramicaMinimalista.png" alt="Vaso de Planta" />
        <h1>Vaso Minimalista</h1>
        <h2>R$60,00</h2>
        <span></span>
      </section>
    </a>

    <a href="">
      <section class="card7">
        <img src="imagens/VasoAutoirrigavelTransparente.png" alt="Vaso de Planta" />
        <h1>Vaso Autoirrigável</h1>
        <h2>R$95,00</h2>
        <span></span>
      </section>
    </a>

    <a href="">
      <section class="card2">
        <img src="imagens/VasoFibraNatural.png" alt="Vaso de Planta" />
        <h1>Cachepô de Fibra Natural</h1>
        <h2>R$55,00</h2>
        <span></span>
      </section>
    </a>

    <a href="">
      <section class="card10">
        <img src="imagens/VasoConcretoGeom.png" alt="Vaso de Planta" />
        <h1>Vaso Concreto Geométrico</h1>
        <h2>R$68,00</h2>
        <span></span>
      </section>
    </a>

    <a href="">
      <section class="card11">
        <img src="imagens/VasoMetalCobre.png" alt="Vaso de Planta" />
        <h1>Vaso Metal Cobre</h1>
        <h2>R$88,00</h2>
        <span></span>
      </section>
    </a>

    <a href="">
      <section class="card12">
        <img src="imagens/VasoResinaColorido.png" alt="Vaso de Planta" />
        <h1>Vaso Colorido</h1>
        <h2>R$52,00</h2>
        <span></span>
      </section>
    </a>

    <a href="">
      <section class="card12">
        <img src="imagens/VasoSuspensoCeramica.png" alt="Vaso de Planta" />
        <h1>Vaso Suspenso Cerâmica</h1>
        <h2>R$78,00</h2>
        <span></span>
      </section>
    </a>
  </section>
</section>
  </li>

  <%- include("../partials/footer") %>
</body>
</html>
