<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Floria - Mais Vendidos</title>
  <link rel="stylesheet" href="css/MV.css">
</head>

<body>
<<<<<<< HEAD

=======
>>>>>>> ad062fc420a2538becebdb6621e3e0ac3679f4a2
  <%- include("../partials/nav") %>
    <%- include("../partials/header") %>

<<<<<<< HEAD


      <main>


        <p class="t">Plantas</p>

        <hr>

        <li class="cards">

          <section class="cards-container">
            <ul class="c1">

              <a href="/detalhes">
                <section class="card1">
                  <img src="imagens/Muda.png" alt="Planta" />
                  <h1>Comigo Ninguém Pode</h1>
                  <h2>R$211,25</h2>
                  <span>Ver Mais...</span>
                </section>
              </a>

              <!-- Card 2 -->
              <a href="/samambaia">
                <section class="card2">
                  <img src="imagens/samambaia.webp" alt="Planta" />
                  <h1>Samambaia</h1>
                  <h2>b</h2>
                  <span>Ver Mais...</span>
                </section>
              </a>

              <a href="/alecrim">
                <section class="card3">
                  <img src="imagens/alecrim.jpg" alt="Planta" />
                  <h1>Alecrim</h1>
                  <h2>b</h2>
                  <span>Ver Mais...</span>
                </section>
              </a>
            </ul>


            <ul class="c2">


              <a href="/babosa">
                <section class="card4">
                  <img src="imagens/baboda.jpg" alt="Planta" />
                  <h1>Babosa</h1>
                  <h2>b</h2>
                  <span>Ver Mais...</span>
                </section>
              </a>
              <a href="/cacto">
                <section class="card5">
                  <img src="imagens/cacto.webp" alt="Planta" />
                  <h1>Cacto</h1>
                  <h2>b</h2>
                  <span>Ver Mais...</span>
                </section>
              </a>
              <a href="/costeladeadao">
                <section class="card6">
                  <img src="imagens/costeladeadão.webp" alt="Planta" />
                  <h1>Costela de Adão</h1>
                  <h2>b</h2>
                  <span>Ver Mais...</span>
                </section>
              </a>
            </ul>

          </section>

          <section class="cards-container2">

            <ul class="c3">
              <a href="/espadadesaojorge">
                <section class="card7">
                  <img src="imagens/espadadesaojorge.webp" alt="Planta" />
                  <h1>Espada de São Jorge</h1>
                  <h2>b</h2>
                  <span>Ver Mais...</span>
                </section>
              </a>
              <a href="/hortela">
                <section class="card8">
                  <img src="imagens/hortela.jpeg" alt="Planta" />
                  <h1>Hortelã</h1>
                  <h2>b</h2>
                  <span>Ver Mais...</span>
                </section>
              </a>
              <a href="/jasmim">
                <section class="card9">
                  <img src="imagens/jasmim.png" alt="Planta" />
                  <h1>Jasmim</h1>
                  <h2>b</h2>
                  <span>Ver Mais...</span>
                </section>
              </a>
            </ul>

            <ul class="c4">
              <a href="/lavanda">
                <section class="card10">
                  <img src="imagens/lavanda.jpg" alt="Planta" />
                  <h1>Lavanda</h1>
                  <h2>b</h2>
                  <span>Ver Mais...</span>
                </section>
              </a>
              <a href="/manjericao">
                <section class="card11">
                  <img src="imagens/manjericão.jpg" alt="Planta" />
                  <h1>Manjericão</h1>
                  <h2>b</h2>
                  <span>Ver Mais...</span>
                </section>
              </a>
              <a href="/orquidea">
                <section class="card12">
                  <img src="imagens/orquídea.jpg" alt="Planta" />
                  <h1>Orquídea</h1>
                  <h2>b</h2>
                  <span>Ver Mais...<span>
                </section>
              </a>
            </ul>
          </section>
        </li>
      </main>
      <li class="cards">

        <section class="cards-container">
          <ul class="c1">


            <!-- Card 1 -->
            <a href="">
              <section class="card1">
                <img src="imagens/Muda.png" alt="Planta" />
                <h1>a</h1>
                <h2>b</h2>
                <span>bobgoods</span>
              </section>
            </a>

            <!-- Card 2 -->
            <a href="">
              <section class="card2">
                <img src="imagens/Muda.png" alt="Planta" />
                <h1>a</h1>
                <h2>b</h2>
                <span>bobgoods</span>
              </section>
            </a>

            <a href=""></a>
            <section class="card3">
              <img src="imagens/Muda.png" alt="Planta" />
              <h1>a</h1>
              <h2>b</h2>
              <span>bobgoods</span>
            </section></a>
          </ul>


          <ul class="c2">


            <a href="">
              <section class="card4">
                <img src="imagens/Muda.png" alt="Planta" />
                <h1>a</h1>
                <h2>b</h2>
                <span>bobgoods</span>
              </section>
            </a>
            <a href="">
              <section class="card5">
                <img src="imagens/Muda.png" alt="Planta" />
                <h1>a</h1>
                <h2>b</h2>
                <span>bobgoods</span>
              </section>
            </a>
            <a href="">
              <section class="card6">
                <img src="imagens/Muda.png" alt="Planta" />
                <h1>a</h1>
                <h2>b</h2>
                <span>bobgoods</span>
              </section>
            </a>
          </ul>

        </section>

        <section class="cards-container2">

          <ul class="c3">
            <a href="">
              <section class="card7">
                <img src="imagens/Muda.png" alt="Planta" />
                <h1>a</h1>
                <h2>b</h2>
                <span>bobgoods</span>
              </section>
            </a>
            <a href="">
              <section class="card8">
                <img src="imagens/Muda.png" alt="Planta" />
                <h1>a</h1>
                <h2>b</h2>
                <span>bobgoods</span>
              </section>
            </a>
            <a href="">
              <section class="card9">
                <img src="imagens/Muda.png" alt="Planta" />
                <h1>a</h1>
                <h2>b</h2>
                <span>bobgoods</span>
              </section>
            </a>
          </ul>

          <ul class="c4">
            <a href="">
              <section class="card10">
                <img src="imagens/Muda.png" alt="Planta" />
                <h1>a</h1>
                <h2>b</h2>
                <span>bobgoods</span>
              </section>
            </a>
            <a href="">
              <section class="card11">
                <img src="imagens/Muda.png" alt="Planta" />
                <h1>a</h1>
                <h2>b</h2>
                <span>bobgoods</span>
              </section>
            </a>
            <a href="">
              <section class="card12">
                <img src="imagens/Muda.png" alt="Planta" />
                <h1>a</h1>
                <h2>b</h2>
                <span>bobgoods</span>
              </section>
            </a>
          </ul>
        </section>
      </li>

      <!-- VASSSOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
 OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
 OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
 OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
 OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
 OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
 OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO -->

      <p class="t">Vasos</p>

      <hr>

      <li class="cards">

        <section class="cards-container">
          <ul class="c1">


            <!-- Card 1 -->
            <a href="/DetalhesV">
              <section class="card1">
                <img src="imagens/Vaso.png" alt="Planta" />
                <h1>Vaso Decorativo Quartier</h1>
                <h2>R$299,99</h2>
                <span>Ver Mais... </span>
              </section>
            </a>

            <!-- Card 2 -->
            <section class="card2">
              <img src="imagens/Vaso.png" alt="Planta" />
              <h1>a</h1>
              <h2>b</h2>
              <span>bobgoods</span>
            </section>

            <section class="card3">
              <img src="imagens/Vaso.png" alt="Planta" />
              <h1>a</h1>
              <h2>b</h2>
              <span>bobgoods</span>
            </section>
          </ul>


          <ul class="c2">


            <section class="card4">
              <img src="imagens/Vaso.png" alt="Planta" />
              <h1>a</h1>
              <h2>b</h2>
              <span>bobgoods</span>
            </section>
            <section class="card5">
              <img src="imagens/Vaso.png" alt="Planta" />
              <h1>a</h1>
              <h2>b</h2>
              <span>bobgoods</span>
            </section>
            <section class="card6">
              <img src="imagens/Vaso.png" alt="Planta" />
              <h1>a</h1>
              <h2>b</h2>
              <span>bobgoods</span>
            </section>
          </ul>

        </section>

        <section class="cards-container2">

          <ul class="c3">
            <section class="card7">
              <img src="imagens/Vaso.png" alt="Planta" />
              <h1>a</h1>
              <h2>b</h2>
              <span>bobgoods</span>
            </section>
            <section class="card8">
              <img src="imagens/Vaso.png" alt="Planta" />
              <h1>a</h1>
              <h2>b</h2>
              <span>bobgoods</span>
            </section>
            <section class="card9">
              <img src="imagens/Vaso.png" alt="Planta" />
              <h1>a</h1>
              <h2>b</h2>
              <span>bobgoods</span>
            </section>
          </ul>

          <ul class="c4">
            <section class="card10">
              <img src="imagens/Vaso.png" alt="Planta" />
              <h1>a</h1>
              <h2>b</h2>
              <span>bobgoods</span>
            </section>
            <section class="card11">
              <img src="imagens/Vaso.png" alt="Planta" />
              <h1>a</h1>
              <h2>b</h2>
              <span>bobgoods</span>
            </section>
            <section class="card12">
              <img src="imagens/Vaso.png" alt="Planta" />
              <h1>a</h1>
              <h2>b</h2>
              <span>bobgoods</span>
            </section>
          </ul>
        </section>
      </li>
      <li class="cards">

        <section class="cards-container">
          <ul class="c1">
=======
  <main>
    <!--Seção de Plantas -->
    <section aria-labelledby="plantas-title">

      <!--Plantas Grandes -->
        <article class="cards-container">
          <figure class="card">
            <img src="imagens/Muda.png" alt="Comigo Ninguém Pode">
            <figcaption>
              <h4>Comigo Ninguém Pode</h4>
              <p class="price">R$ 211,25</p>
            </figcaption>
          </figure>

          <figure class="card">
            <img src="imagens/samambaia.webp" alt="Samambaia">
            <figcaption>
              <h4>Samambaia</h4>
              <p class="price">R$ 65,00</p>
            </figcaption>
          </figure>

          <figure class="card">
            <img src="imagens/alecrim.jpg" alt="Alecrim">
            <figcaption>
              <h4>Alecrim</h4>
              <p class="price">R$ 35,00</p>
            </figcaption>
          </figure>

          <figure class="card">
            <img src="imagens/baboda.jpg" alt="Babosa">
            <figcaption>
              <h4>Babosa</h4>
              <p class="price">R$ 125,00</p>
            </figcaption>
          </figure>

          <figure class="card">
            <img src="imagens/cacto.webp" alt="Cacto">
            <figcaption>
              <h4>Cacto</h4>
              <p class="price">R$ 89,99</p>
            </figcaption>
          </figure>

          <figure class="card">
            <img src="imagens/costeladeadão.webp" alt="Costela de Adão">
            <figcaption>
              <h4>Costela de Adão</h4>
              <p class="price">R$ 250,99</p>
            </figcaption>
          </figure>
        </article>
      </section>

      <!--Plantas Pequenas -->
      <section class="cards-section" aria-labelledby="plantas-pequenas">
        <article class="cards-container">
          <figure class="card">
            <img src="imagens/espadadesaojorge.webp" alt="Espada de São Jorge">
            <figcaption>
              <h4>Espada de São Jorge</h4>
              <p class="price">R$ 40,00</p>
            </figcaption>
          </figure>

          <figure class="card">
            <img src="imagens/hortelã.png" alt="Hortelã">
            <figcaption>
              <h4>Hortelã</h4>
              <p class="price">R$ 78,25</p>
            </figcaption>
          </figure>

          <figure class="card">
            <img src="imagens/jasmim.png" alt="Jasmim">
            <figcaption>
              <h4>Jasmim</h4>
              <p class="price">R$ 75,00</p>
            </figcaption>
          </figure>

          <figure class="card">
            <img src="imagens/lavanda.jpg" alt="Lavanda">
            <figcaption>
              <h4>Lavanda</h4>
              <p class="price">R$ 49,99</p>
            </figcaption>
          </figure>

          <figure class="card">
            <img src="imagens/manjericão.jpg" alt="Manjericão">
            <figcaption>
              <h4>Manjericão</h4>
              <p class="price">R$ 100,00</p>
            </figcaption>
          </figure>

          <figure class="card">
            <img src="imagens/orquídea.jpg" alt="Orquídea">
            <figcaption>
              <h4>Orquídea</h4>
              <p class="price">R$ 99,99</p>
            </figcaption>
          </figure>
        </article>
      </section>
    </section>

    <!--Seção de Vasos -->
    <section aria-labelledby="vasos-title">

      <!-- 🌺 Vasos Grandes -->
      <section class="cards-section" aria-labelledby="vasos-grandes">

        <article class="cards-container">
          <figure class="card">
            <img src="imagens/image.png" alt="Vaso Decorativo Marrom">
            <figcaption>
              <h4>Vaso Decorativo Marrom</h4>
              <p class="price">R$ 299,99</p>
            </figcaption>
          </figure>

          <figure class="card">
            <img src="imagens/VasoMadeiraBambu.png" alt="Cachepô de Madeira Bambu">
            <figcaption>
              <h4>Cachepô de Madeira Bambu</h4>
              <p class="price">R$ 70,00</p>
            </figcaption>
          </figure>

          <figure class="card">
            <img src="imagens/VasoCeramicaDecorado.png" alt="Vaso Cerâmica Decorado">
            <figcaption>
              <h4>Vaso Cerâmica Decorado</h4>
              <p class="price">R$ 75,00</p>
            </figcaption>
          </figure>


          <figure class="card">
            <img src="imagens/VasoCeramicaDecorado.png" alt="Vaso Cerâmica Decorado">
            <figcaption>
              <h4>Vaso Cerâmica Decorado</h4>
              <p class="price">R$ 75,00</p>
            </figcaption>
          </figure>


          <figure class="card">
            <img src="imagens/VasoSuspensoMetal.png" alt="Vaso Suspenso de Metal">
            <figcaption>
              <h4>Vaso Suspenso de Metal</h4>
              <p class="price">R$ 85,00</p>
            </figcaption>
          </figure>
        </article>

        
      
        <article class="cards-container">
          <figure class="card">
            <img src="imagens/VasoBarroTradicional.png" alt="Vaso de Barro Tradicional">
            <figcaption>
              <h4>Vaso de Barro Tradicional</h4>
              <p class="price">R$ 40,00</p>
            </figcaption>
          </figure>

          <figure class="card">
            <img src="imagens/VasoCeramicaMinimalista.png" alt="Vaso Minimalista">
            <figcaption>
              <h4>Vaso Minimalista</h4>
              <p class="price">R$ 60,00</p>
            </figcaption>
          </figure>

          <figure class="card">
            <img src="imagens/VasoAutoirrigavelTransparente.png" alt="Vaso Autoirrigável">
            <figcaption>
              <h4>Vaso Autoirrigável</h4>
              <p class="price">R$ 95,00</p>
            </figcaption>
          </figure>

          <figure class="card">
            <img src="imagens/VasoFibraNatural.png" alt="Cachepô de Fibra Natural">
            <figcaption>
              <h4>Cachepô de Fibra Natural</h4>
              <p class="price">R$ 55,00</p>
            </figcaption>
          </figure>

          <figure class="card">
            <img src="imagens/VasoConcretoGeom.png" alt="Vaso Concreto Geométrico">
            <figcaption>
              <h4>Vaso Concreto Geométrico</h4>
              <p class="price">R$ 68,00</p>
            </figcaption>
          </figure>

          <figure class="card">
            <img src="imagens/VasoMetalCobre.png" alt="Vaso Metal Cobre">
            <figcaption>
              <h4>Vaso Metal Cobre</h4>
              <p class="price">R$ 88,00</p>
            </figcaption>
          </figure>

          <figure class="card">
            <img src="imagens/VasoResinaColorido.png" alt="Vaso Colorido">
            <figcaption>
              <h4>Vaso Colorido</h4>
              <p class="price">R$ 52,00</p>
            </figcaption>
          </figure>

          <figure class="card">
            <img src="imagens/VasoSuspensoCeramica.png" alt="Vaso Suspenso Cerâmica">
            <figcaption>
              <h4>Vaso Suspenso Cerâmica</h4>
              <p class="price">R$ 78,00</p>
            </figcaption>
          </section>
          </figure>
        </article>
    </section>
  </main>
>>>>>>> ad062fc420a2538becebdb6621e3e0ac3679f4a2


            <!-- Card 1 -->
            <section class="card1">
              <img src="imagens/Vaso.png" alt="Planta" />
              <h1>a</h1>
              <h2>b</h2>
              <span>bobgoods</span>
            </section>

            <!-- Card 2 -->
            <section class="card2">
              <img src="imagens/Vaso.png" alt="Planta" />
              <h1>a</h1>
              <h2>b</h2>
              <span>bobgoods</span>
            </section>

            <section class="card3">
              <img src="imagens/Vaso.png" alt="Planta" />
              <h1>a</h1>
              <h2>b</h2>
              <span>bobgoods</span>
            </section>
          </ul>


          <ul class="c2">


            <section class="card4">
              <img src="imagens/Vaso.png" alt="Planta" />
              <h1>a</h1>
              <h2>b</h2>
              <span>bobgoods</span>
            </section>
            <section class="card5">
              <img src="imagens/Vaso.png" alt="Planta" />
              <h1>a</h1>
              <h2>b</h2>
              <span>bobgoods</span>
            </section>
            <section class="card6">
              <img src="imagens/Vaso.png" alt="Planta" />
              <h1>a</h1>
              <h2>b</h2>
              <span>bobgoods</span>
            </section>
          </ul>

        </section>

        <section class="cards-container2">

          <ul class="c3">
            <section class="card7">
              <img src="imagens/Vaso.png" alt="Planta" />
              <h1>a</h1>
              <h2>b</h2>
              <span>bobgoods</span>
            </section>
            <section class="card8">
              <img src="imagens/Vaso.png" alt="Planta" />
              <h1>a</h1>
              <h2>b</h2>
              <span>bobgoods</span>
            </section>
            <section class="card9">
              <img src="imagens/Vaso.png" alt="Planta" />
              <h1>a</h1>
              <h2>b</h2>
              <span>bobgoods</span>
            </section>
          </ul>

          <ul class="c4">
            <section class="card10">
              <img src="imagens/Vaso.png" alt="Planta" />
              <h1>a</h1>
              <h2>b</h2>
              <span>bobgoods</span>
            </section>
            <section class="card11">
              <img src="imagens/Vaso.png" alt="Planta" />
              <h1>a</h1>
              <h2>b</h2>
              <span>bobgoods</span>
            </section>
            <section class="card12">
              <img src="imagens/Vaso.png" alt="Planta" />
              <h1>a</h1>
              <h2>b</h2>
              <span>bobgoods</span>
            </section>
          </ul>
        </section>
      </li>

      <%- include("../partials/footer") %>
</body>

</html>