<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Floria</title>
    <link rel="stylesheet" href="css/adm2.css">

</head>

<body>

    <%- include("../partials/header-adm") %>
        <%- include("../partials/nav-adm2") %>
            <main>
                <h1>Bem Vindo a área dos Pedidos! </h1>
                <p></p>
                <h1 class="Estoque">Pedidos</h1>
                <section class="busca">
                    <input class="barra" type="text" placeholder="Buscar..." />
                </section>

                <div class="lista-com-scroll">
                    <ul>
                        <h2>Sem pedidos no momento...</h2>
                    </ul>

                </div>
            </main>
</body>

</html>