<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Floria - Flores, Árvores e Sementes</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/Rp.css">
</head>

<body>

  <%- include("../partials/nav") %>
    <%- include("../partials/header") %>

      <main>

      </main>

      <%- include("../partials/footer") %>
</body>

</html>