<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Floria - Flores, Árvores e Sementes</title>
  <link rel="stylesheet" href="css/Plantas.css">
</head>

<body>

  <%- include("../partials/nav") %>
    <%- include("../partials/header") %>

      <main>
        <main>

          <p class="t">Plantas</p>

          <hr>

          <li class="cards">

          <li class="cards">

            <section class="cards-container">
              <ul class="c1">


                <!-- Card 1 -->
                <a href="/detalhes">
                  <section class="card1">
                    <img src="imagens/Muda.png" alt="Planta" />
                    <h1>Muda de Comigo Ninguém Pode</h1>
                    <h2>R$211,25</h2>
                    <span>Ver Mais...</span>
                  </section>
                </a>


                <a href="">
                  <section class="card2">
                    <img src="imagens/Singônio.png" alt="Planta" />
                    <h1>Singônio (Syngonium)</h1>
                    <h2>R$ 45,00</h2>

                    <span>Ver mais...</span>
                  </section>
                </a>

                <a href="">
                  <section class="card3">
                    <img src="imagens/Zamioculca.png" alt="Planta" />
                    <h1>Zamioculca (ZZ Plant)</h1>
                    <h2>R$ 60,00</h2>
                    <span>Ver mais...</span>
                  </section>
                </a>

              </ul>

              <ul class="c2">


                <a href="">
                  <section class="card4">
                    <img src="imagens/Monstera deliciosa.png" alt="Planta" />
                    <h1>Monstera deliciosa</h1>
                    <h2>R$ 120,00</h2>
                    <span>Ver mais...</span>
                  </section>
                </a>

                <a href="">
                  <section class="card5">
                    <img src="imagens/Sansevieria.png" alt="Planta" />
                    <h1>Espada-de-São-Jorge (Sansevieria)</h1>
                    <h2>R$ 35,00</h2>
                    <span>Ver mais...</span>
                  </section>
                </a>

                <a href="">
                  <section class="card6">
                    <img src="imagens/Philodendron.png" alt="Planta" />
                    <h1>Jiboia (Philodendron)</h1>
                    <h2>R$ 55,00</h2>
                    <span>Ver mais...</span>
                  </section>
                </a>
              </ul>
          <li class="cards">

            <section class="cards-container">
              <ul class="c1">

                <a href="">
                  <section class="card2">
                    <img src="imagens/OrquideaPhalaenopsis.png" alt="Planta" />
                    <h1>Orquídea Phalaenopsis</h1>
                    <h2>R$ 95,00</h2>
                    <span>Ver mais...</span>
                  </section>
                </a>

                <!-- Card 2 -->
                <a href="/samambaia">
                  <section class="card2">
                    <img src="imagens/samambaia.webp" alt="Planta" />
                    <h1>Samambaia</h1>
                    <h2>R$111,25</h2>
                    <span>Ver Mais...</span>
                  </section>
                </a>

                <a href="/alecrim">
                  <section class="card3">
                    <img src="imagens/alecrim.jpg" alt="Planta" />
                    <h1>Alecrim</h1>
                    <h2>R$70,25</h2>
                    <span>Ver Mais...</span>
                  </section>
                </a>
              </ul>


              <ul class="c2">


                <a href="/babosa">
                  <section class="card4">
                    <img src="imagens/baboda.jpg" alt="Planta" />
                    <h1>Babosa</h1>
                    <h2>R$116,25</h2>
                    <span>Ver Mais...</span>
                  </section>
                </a>
                <a href="/cacto">
                  <section class="card5">
                    <img src="imagens/cacto.webp" alt="Planta" />
                    <h1>Cacto</h1>
                    <h2>R$61,25</h2>
                    <span>Ver Mais...</span>
                  </section>
                </a>
                <a href="/costeladeadao">
                  <section class="card6">
                    <img src="imagens/costeladeadão.webp" alt="Planta" />
                    <h1>Costela de Adão</h1>
                    <h2>R$80,25</h2>
                    <span>Ver Mais...</span>
                  </section>
                </a>
              </ul>

            </section>

            <section class="cards-container2">

              <ul class="c3">
                <a href="/espadadesaojorge">
                  <section class="card7">
                    <img src="imagens/espadadesaojorge.webp" alt="Planta" />
                    <h1>Espada de São Jorge</h1>
                    <h2>R$46,25</h2>
                    <span>Ver Mais...</span>
                  </section>
                </a>
                <a href="/hortela">
                  <section class="card8">
                    <img src="imagens/hortela.jpeg" alt="Planta" />
                    <h1>Hortelã</h1>
                    <h2>R$55,25</h2>
                    <span>Ver Mais...</span>
                  </section>
                </a>
                <a href="/jasmim">
                  <section class="card9">
                    <img src="imagens/jasmim.png" alt="Planta" />
                    <h1>Jasmim</h1>
                    <h2>R$100</h2>
                    <span>Ver Mais...</span>
                  </section>
                </a>
              </ul>

              <ul class="c4">
                <a href="/lavanda">
                  <section class="card10">
                    <img src="imagens/lavanda.jpg" alt="Planta" />
                    <h1>Lavanda</h1>
                    <h2>R$310,25</h2>
                    <span>Ver Mais...</span>
                  </section>
                </a>
                <a href="/manjericao">
                  <section class="card11">
                    <img src="imagens/manjericão.jpg" alt="Planta" />
                    <h1>Manjericão</h1>
                    <h2>R$70,25</h2>
                    <span>Ver Mais...</span>
                  </section>
                </a>
                <a href="/orquidea">
                  <section class="card12">
                    <img src="imagens/orquídea.jpg" alt="Planta" />
                    <h1>Orquídea</h1>
                    <h2>150,99</h2>
                    <span>Ver Mais...<span>
                  </section>
                </a>
              </ul>
            </section>
          </li>
          </section>
        </main>

        <%- include("../partials/footer") %>
</body>

</html>