<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Floria - Flores, Árvores e Sementes</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  
  <%- include("../partials/nav") %>
  <%- include("../partials/header") %>
  
  <main>
    <h2>O que é Autenticação?</h2>
    <p>A autenticação é o processo de verificar a identidade de um usuário, garantindo que ele é quem diz ser. Em sistemas back-end, isso geralmente é feito com o uso de credenciais como nome de usuário e senha.</p>
  </main>

  <%- include("../partials/footer") %>
</body>
</html>