<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Servidor - Conceitos de Programação Back-End</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <header>
    <h1>Servidores e Frameworks</h1>
  </header>
  
  <nav>
    <ul>
      <li><a href="/">Início</a></li>
      <li><a href="/sobre-api">APIs</a></li>
      <li><a href="/banco-de-dados">Banco de Dados</a></li>
      <li><a href="/autenticacao">Autenticação</a></li>
      <li><a href="/servidor">Servidor</a></li>
    </ul>
  </nav> 
  
  <main>
    <h2>O que é um Servidor?</h2>
    <p>Um servidor é um computador que fornece recursos, serviços e dados para outros computadores (clientes). No contexto de programação back-end, os servidores executam o código do lado do servidor, gerenciam requisições de APIs e interagem com bancos de dados.</p>
  </main>
  
  <footer>
        <li id="1"><img src="imagens/email.webp"><img src="imagens/whatsapp.png"><img src="imagens/X.png"><img src="imagens/facebook.png"><img src="imagens/instagram.png"></li>
    <p>Rua das Flores - 666-777 - Vila do Abismo - SP
    <br>&copy; Copyright 2024 - Todos os direitos reservados por Floria</br>
  </footer>
</body>
</html>
