<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Floria - Vasos</title>
  <link rel="stylesheet" href="css/Vasos.css">
</head>

<body>
  <%- include("../partials/header") %>
  <%- include("../partials/nav") %>
  

  <main>

    <!-- Seção Vasos Grandes -->
    <section aria-labelledby="vasos-grandes">

      <section class="cards-container">
        <article class="card">
          <a href="/DetalhesV">
            <figure>
              <img src="imagens/image.png" alt="Vaso Decorativo Marrom" />
              <figcaption>
                <h3>Vaso Decorativo Marrom</h3>
                <p class="price">R$299,99</p>
              </figcaption>
            </figure>
          </a>
        </article>

        <article class="card">
          <a href="#">
            <figure>
              <img src="imagens/VasoCeramicaRosa.jpg" alt="Vaso de Cerâmica Rosa" />
              <figcaption>
                <h3>Vaso de Cerâmica Rosa</h3>
                <p class="price">R$65,00</p>
              </figcaption>
            </figure>
          </a>
        </article>

        <article class="card">
          <a href="#">
            <figure>
              <img src="imagens/VasoCimentoRustico.png" alt="Vaso de Cimento Rústico" />
              <figcaption>
                <h3>Vaso de Cimento Rústico</h3>
                <p class="price">R$50,00</p>
              </figcaption>
            </figure>
          </a>
        </article>

        <article class="card">
          <a href="#">
            <figure>
              <img src="imagens/VasoSuspensoMacrame.png" alt="Vaso Suspenso" />
              <figcaption>
                <h3>Vaso Suspenso</h3>
                <p class="price">R$80,00</p>
              </figcaption>
            </figure>
          </a>
        </article>

        <article class="card">
          <a href="#">
            <figure>
              <img src="imagens/VasoVidroTransparente.png" alt="Vaso de Vidro Transparente" />
              <figcaption>
                <h3>Vaso de Vidro Transparente</h3>
                <p class="price">R$45,00</p>
              </figcaption>
            </figure>
          </a>
        </article>

        <article class="card">
          <a href="#">
            <figure>
              <img src="imagens/VasoAutoirrigavel.png" alt="Vaso Autoirrigável" />
              <figcaption>
                <h3>Vaso Autoirrigável</h3>
                <p class="price">R$90,00</p>
              </figcaption>
            </figure>
          </a>
        </article>
      </section>
    </section>

    <!-- Seção Vasos Pequenos -->
    <section aria-labelledby="vasos-pequenos">
      <section class="cards-container">
        <article class="card">
          <a href="/DetalhesV">
            <figure>
              <img src="imagens/VasoCeramicaEsmaltadoAzul.png" alt="Vaso Cerâmica Esmaltado Azul" />
              <figcaption>
                <h3>Vaso Cerâmica Esmaltado Azul</h3>
                <p class="price">R$72,00</p>
              </figcaption>
            </figure>
          </a>
        </article>

        <article class="card">
          <a href="#">
            <figure>
              <img src="imagens/VasoMadeiraBambu.png" alt="Cachepô de Madeira Bambu" />
              <figcaption>
                <h3>Cachepô de Madeira Bambu</h3>
                <p class="price">R$70,00</p>
              </figcaption>
            </figure>
          </a>
        </article>

        <article class="card">
          <a href="#">
            <figure>
              <img src="imagens/VasoCeramicaDecorado.png" alt="Vaso Cerâmica Decorado" />
              <figcaption>
                <h3>Vaso Cerâmica Decorado</h3>
                <p class="price">R$75,00</p>
              </figcaption>
            </figure>
          </a>
        </article>

        <article class="card">
          <a href="#">
            <figure>
              <img src="imagens/VasoSuspensoMetal.png" alt="Vaso Suspenso de Metal" />
              <figcaption>
                <h3>Vaso Suspenso de Metal</h3>
                <p class="price">R$85,00</p>
              </figcaption>
            </figure>
          </a>
        </article>

        <article class="card">
          <a href="#">
            <figure>
              <img src="imagens/VasoBarroTradicional.png" alt="Vaso de Barro Tradicional" />
              <figcaption>
                <h3>Vaso de Barro Tradicional</h3>
                <p class="price">R$40,00</p>
              </figcaption>
            </figure>
          </a>
        </article>

        <article class="card">
          <a href="#">
            <figure>
              <img src="imagens/VasoCeramicaMinimalista.png" alt="Vaso Minimalista" />
              <figcaption>
                <h3>Vaso Minimalista</h3>
                <p class="price">R$60,00</p>
              </figcaption>
            </figure>
          </a>
        </article>
      </section>
    </section>
  </main>

  <%- include("../partials/footer") %>
</body>
</html>
<script src="js/itens.js"></script>
