<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Floria - Vasos</title>
  <link rel="stylesheet" href="css/Vasos.css">
</head>

<body>
  <%- include("../partials/nav") %>
    <%- include("../partials/header") %>



      <main>
        <p class="t">Vasos</p>

        <hr>

        <section class="cards-container2">

          <ul class="c3">
            <a href="/DetalhesV">
              <section class="card7">
                <img src="imagens/image.png" alt="Planta" />
                <h1>Vaso Decorativo Marrom</h1>
                <h2>R$299,99</h2>
                <span>Ver Mais... </span>
              </section>
            </a>

            <a href="">
              <section class="card7">
                <img src="imagens/VasoCeramicaRosa.jpg" alt="Vaso de Planta" />
                <h1>Vaso de Cerâmica Rosa</h1>
                <h2>R$ 65,00</h2>
                <span>Ver mais...</span>
              </section>
            </a>

            <a href="">
              <section class="card9">
                <img src="imagens/VasoCimentoRustico.png" alt="Vaso de Planta" />
                <h1>Vaso de Cimento Rústico</h1>
                <h2>R$ 50,00</h2>
                <span>Ver mais...</span>
              </section>
            </a>
          </ul>

          <ul class="c4">
            <a href="">
              <section class="card10">
                <img src="imagens/VasoSuspensoMacrame.png" alt="Vaso de Planta" />
                <h1>Vaso Suspenso</h1>
                <h2>R$ 80,00</h2>
                <span>Ver mais...</span>
              </section>
            </a>

            <a href="">
              <section class="card11">
                <img src="imagens/VasoVidroTransparente.png" alt="Vaso de Planta" />
                <h1>Vaso de Vidro Transparente</h1>
                <h2>R$ 45,00</h2>
                <span>Ver mais...</span>
              </section>
            </a>

            <a href="">
              <section class="card12">
                <img src="imagens/VasoAutoirrigavel.png" alt="Vaso de Planta" />
                <h1>Vaso Autoirrigável</h1>
                <h2>R$ 90,00</h2>
                <span>Ver mais...</span>
              </section>
            </a>
          </ul>
        </section>
        </li>
        <li class="cards">

          <section class="cards-container">
            <ul class="c1">


              <!-- Card 1 -->
              <a href="/DetalhesV">
                <section class="card2">
                  <img src="imagens/VasoCeramicaEsmaltadoAzul.png" alt="Vaso de Planta" />
                  <h1>Vaso Cerâmica Esmaltado Azul</h1>
                  <h2>R$ 72,00</h2>
                  <span>Ver mais...</span>
                </section>
              </a>

              <!-- Card 2 -->
              <a href="">
                <section class="card3">
                  <img src="imagens/VasoMadeiraBambu.png" alt="Vaso de Planta" />
                  <h1>Cachepô de Madeira Bambu</h1>
                  <h2>R$ 70,00</h2>
                  <span>Ver mais...</span>
                </section>
              </a>

              <a href="">
                <section class="card3">
                  <img src="imagens/VasoCeramicaDecorado.png" alt="Vaso de Planta" />
                  <h1>Vaso Cerâmica Decorado</h1>
                  <h2>R$ 75,00</h2>
                  <span>Ver mais...</span>
                </section>
              </a>

            </ul>


            <ul class="c2">


              <a href="">
                <section class="card4">
                  <img src="imagens/VasoSuspensoMetal.png" alt="Vaso de Planta" />
                  <h1>Vaso Suspenso de Metal</h1>
                  <h2>R$ 85,00</h2>
                  <span>Ver mais...</span>
                </section>
              </a>

              <a href="">
                <section class="card5">
                  <img src="imagens/VasoBarroTradicional.png" alt="Vaso de Planta" />
                  <h1>Vaso de Barro Tradicional</h1>
                  <h2>R$ 40,00</h2>
                  <span>Ver mais...</span>
                </section>
              </a>

              <a href="">
                <section class="card6">
                  <img src="imagens/VasoCeramicaMinimalista.png" alt="Vaso de Planta" />
                  <h1>Vaso Minimalista</h1>
                  <h2>R$ 60,00</h2>
                  <span>Ver mais...</span>
                </section>
              </a>
            </ul>

          </section>

          <section class="cards-container2">

            <ul class="c3">

              <a href="">
                <section class="card7">
                  <img src="imagens/VasoAutoirrigavelTransparente.png" alt="Vaso de Planta" />
                  <h1>Vaso Autoirrigável</h1>
                  <h2>R$ 95,00</h2>
                  <span>Ver mais...</span>
                </section>
              </a>

              <a href="">
                <section class="card2">
                  <img src="imagens/VasoFibraNatural.png" alt="Vaso de Planta" />
                  <h1>Cachepô de Fibra Natural</h1>
                  <h2>R$ 55,00</h2>
                  <span>Ver mais...</span>

                </section>
              </a>

              <a href="">
                <section class="card10">
                  <img src="imagens/VasoConcretoGeom.png" alt="Vaso de Planta" />
                  <h1>Vaso Concreto Geométrico</h1>
                  <h2>R$ 68,00</h2>
                  <span>Ver mais...</span>
                </section>
              </a>
            </ul>

            <ul class="c4">
              <a href="">
                <section class="card11">
                  <img src="imagens/VasoMetalCobre.png" alt="Vaso de Planta" />
                  <h1>Vaso Metal Cobre</h1>
                  <h2>R$ 88,00</h2>
                  <span>Ver mais...</span>
                </section>
              </a>

              <a href="">
                <section class="card12">
                  <img src="imagens/VasoResinaColorido.png" alt="Vaso de Planta" />
                  <h1>Vaso Colorido</h1>
                  <h2>R$ 52,00</h2>
                  <span>Ver mais...</span>
                </section>
              </a>

              <a href="">
                <section class="card12">
                  <img src="imagens/VasoSuspensoCeramica.png" alt="Vaso de Planta" />
                  <h1>Vaso Suspenso Cerâmica</h1>
                  <h2>R$ 78,00</h2>
                  <span>Ver mais...</span>
                </section>
              </a>
            </ul>
          </section>
          <!--Vaso deletado começo-->
          <!--Vaso deletado fim-->
        </li>
      </main>

      <%- include("../partials/footer") %>

</body>

</html>